*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    text-transform: capitalize;
    scroll-behavior: smooth;
}
body{
    background: #f4f4f4;
    overflow-x:hidden !important ;
    width: 100%;
}
button{
    cursor: pointer;
}
header{
    align-items: center;
    padding: 22px;
}
.logo-header a{
    color: black;
    align-items: center;
    display: flex;
    text-decoration: none;
}
.logo-header h1{
    font-size: 15px;
}
.logo-header span{
    color: #0AB8FD;
}
ul{
    list-style: none;
}
.nav-container{
    display:flex;
    justify-content:space-evenly;
}
.link-header{
    display: flex;
    gap: 2rem;
}
.link-header a{
    color:black;
    text-decoration: none;
}
.items-pesquisa{
    width: 50%;
    justify-content: center;
    align-items: center;
}
.search-box{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 0px 20px 20px 0px;
    margin-top: -10px;
}
.search-box input{
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-radius: 0px 20px 20px 0px;
    text-indent: 20px;
    font-size: 17px;
    background: transparent;
    color: white;
    overflow: hidden;
}
.search-box button{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    margin-top: 13px;
    margin-left: -40px;
    border-radius: 20px;
    background:transparent;
    cursor: pointer;
    border: 2px solid black;
    color:black;
}
#pesquise{
    display: none;
}
.items-pesquisa-mobile{
    display: none;
}
#btn-criar{
    background: linear-gradient(100deg, gainsboro 50%, #0AB8FD);
    padding: .5rem;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
}
#btn-criar:hover{
    background: linear-gradient(100deg, #0AB8FD 50%, gainsboro);
    transition: .5s;
}
@media(max-width:650px){
    #pesquise{
        display: flex;
        background: transparent;
        border: none;
        font-size: 20px;
    }
    .items-pesquisa{
        display: none;
    }
    #fechar-pesq{
        background: transparent;
        border: none;
        font-size: 19px;
        top: 0;
    }
    @keyframes pesquisa{
        0%{
            transform: translateX(-20px);
            opacity: 0;
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .items-pesquisa-mobile{
        width: 100%;
        justify-content: center;
        align-items: center;
        top: 0;
        margin: auto;
        position: absolute;
        padding: 1rem;
        margin-top: 0px;
        display: none;
        background: #f4f4f4;
        height: 150px;
        z-index: 1;
        flex-direction: column;
        animation: pesquisa .5s ease forwards;
        }
    .search-box-mobile{
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        border: 1px solid white;
        border-radius: 0px 20px 20px 0px;
        overflow: hidden;
    }
    .search-box-mobile input{
        width: 100%;
        height: 40px;
        border: 2px solid black;
        border-radius: 0px 20px 20px 0px;
        text-indent: 10px;
        font-size: 17px;
        background: transparent;
        color: black;
        overflow: hidden;
        width: 330px;
    }
    .search-box-mobile button{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        margin-top: 83px;
        margin-left: -40px;
        border-radius: 20px;
        background:transparent;
        cursor: pointer;
        border: 2px solid rgb(29, 17, 17);
        color:black;
        overflow: hidden;
    }
    #btn-criar{
        font-size: 11px;
    }
}
.categoria{
    padding: 1rem 2rem;
}
.categoria-container{
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    padding-left: 3rem;
    overflow-x: auto;
}
.categoria{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius:8px;
    background: black;
    color: white;
    border: 0;
    cursor: pointer;
}
.categoria:hover{
    background: gray;
    transition:.5s;
}
.categoria:last-child{
    margin-right: 0;
}
.categoria-container::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
.categoria-container::-webkit-scrollbar-thumb{
    background: #0AB8FD;
    width: 11px;
    height: 50px;
    padding: 0;
}
.categoria-container,
.categoria-container::-webkit-scrollbar-thumb{
    padding: 1rem;
    max-width: 80%;
    margin: 0 auto;
}
.categoria.oneA{
    background: gray;
}


.container{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'videos videos videos';
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
}
.container div{
    padding: 0px 10px;
}
#videos{
    grid-area: videos;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container-videos{
    align-items: center;
}
.video-img{
    min-width: 300px;
    min-height: 170px;
    width: 300px;
    height: 170px;
    max-width: 500px;
}
.video-img img{
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 300px;
    border-radius: 10px;
    background-size: cover;
    position: relative;
    background-color: red;
    align-items: center;
}
.video-img:hover::after{
    content:'ASSISTIR';
    color: white;
    position: absolute;
    margin-top: -177px;
    border-radius: 10px;
    width: 300px;
    height: 170px;
    background:rgb(0,0,0,0.5);
    text-align: center;
    align-items: center;
    display: flex;
    text-indent: 120px;
    transition: .5s;
}
.minuto-video{
    text-align: left;
    position: absolute;
    margin-top: -35px;
    color: white;
    background:rgb(0,0,0,0.5);
    margin-left: 10px;
    padding: 0rem .5rem;
    border-radius: 20px;
}
.video-details{
    display: flex;
    flex-direction: column;
    padding:.5em;
    overflow: hidden;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 10px;   
    margin-left:3px;
    margin-top: 10px;
}
.video-details a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .30rem;
}
.video-details h1{
    word-wrap:normal;
    white-space: nowrap;    
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    overflow: hidden;
    max-width: 280px;  
}
.video-details-canal{
    text-align: left;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: -10px;
}
.video-details-canal img{
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background-size: cover;
    border: 2px solid #0AB8FD;
    background-color: #0AB8FD;
}
.video-details span{
    color: black;
    word-wrap:normal;
    white-space: nowrap;    
    font-size: 15px;
    overflow: hidden;
    max-width: 250px;  
}
.video-details p{
    font-size: 14px;
    margin-top: 5px;
    
}
.video-details-canal p{
    align-items: center;
    display:flex;
    background: #0AB8FD;
    padding: .1rem .3rem;
    border-radius: 50%;
    font-size: .6rem;
}
.video-genero{
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    border: none;
    background: whitesmoke;
    border: 1px solid #0AB8FD;
    border-radius: 10px;
    padding: .2rem;
}
.video-genero:hover{
    background: white;
    transition: .5s;
}
@media(max-width:743px){
    .container{
        width: 100%;
        height: 100%;
        padding: 15px;
        display: grid;
        gap: 10px;
        grid-template-areas:
        'videos videos videos';
        margin-top: 50px;
    }
    .video-img{
        width: 400px;
        height: 230px;
        max-width: 400px;
        max-height:230px;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .video-img img{
        width: 400px;
        height: 230px;
        max-width: 400px;
        max-height:180px;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .minuto-video{
        text-align: left;
        color: white;
        background:rgb(0,0,0,0.5);
        padding: 0rem .5rem;
        border-radius: 20px;
        position: absolute ;
        left: 0;
        margin-top: 130px;
        margin-left: 20px;
    }
    .video-img:hover::after{
        display: none;
    }
}
@media(max-width:404px){
    .minuto-video{
        text-align: left;
        color: white;
        background:rgb(0,0,0,0.5);
        padding: 0rem .5rem;
        border-radius: 20px;
        position: absolute ;
        left: 0;
        margin-top: 130px;
        margin-left: 20px;
    }
}


.videos-curtos{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'curto curto curto';
    flex-wrap: wrap;
}
.videos-curtos{
    padding: 0px 10px;
}
#curto{
    grid-area: curto;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.curto-container{
    display:flex;
    align-items: center;
    justify-content: center;

}
.curto-img{
        position: relative;
}
.curto-img img{
    width: 300px;
    height: 500px;
    max-width: 350px;
    max-height: 550px;
    border-radius: 20px;
    border: 1px solid #0AB8FD;
    background-size: cover;
}
.curto-details{
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    position: absolute;
    margin-left: 240px;
}
.curto-details button{
    background: transparent;
    border: 0;
}
.curto-details img{
    width: 30px;
    height: 30px;
    border: 2px solid #0AB8FD;
    border-radius: 20px;
}
.curto-details button{
    font-size: 20px;
    color: white;
    border-radius: 20px;
}
.curto-details span{
    font-size: 8px;
}
.curto-descri{
    position: absolute;
    margin-top: 355px;
    align-items: center;
    text-align: left;
    overflow: hidden;
    width: 300px;
    margin-left: 30px;
}
.curto-descri h1{
    color: #f4f4f4;
    overflow: hidden;
    word-wrap:break-word;
    white-space:wrap;    
    font-size: 16px;
    text-transform: capitalize;
    max-width: 300px;
}
.curto-descri button{
    background: transparent;
    border: 0;
    color: gainsboro;
    gap: 2rem;
    font-size: 14px;
    overflow: hidden;
    word-wrap:break-word;
    white-space:wrap;   
    width: 100px;
    text-align: left;
}
.curto-perfil{
    display: flex;
    align-items: center;
    margin-top: 5px;
    background:rgb(0,0,0,0.3);
    width: 130px;
    padding: .5rem;
    border-radius: 20px;
}
.curto-perfil button{
    display: flex;
    align-items: center;
}
.curto-perfil img{
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.curto-perfil span{
    
    align-items: center;
}


.apresenta-container{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'titulo-apt imagem-apt imagem-apt';
    margin-top: 50px;
    flex-wrap: wrap;
    background: #dcdcdc;
    overflow: hidden;
}
.apresenta-container div{
    padding: 0px 10px;
}
#titulo-apt{
    grid-area: titulo-apt;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
   justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#imagem-apt{
    grid-area: imagem-apt;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
}
.apt-btns {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 2rem;
    background: transparent;
    border: none;
    margin-top:20px;
}
.apt-btns button{
    background: transparent;
    border: 0;
    background: #0AB8FD;
    padding: .3rem 2rem;
    border-radius: 10px;
    color: white;
}
.apt-btns button:hover{
    background: white;
    transition: .5s;
    color: #0AB8FD;
}
#titulo-apt h1{
    font-weight: 100;
}
#imagem-apt img{
    width: 300px;
    height: auto;
}
@media(max-width:610px){
    .apresenta-container{
        grid-template-areas:
        'titulo-apt titulo-apt titulo-apt '
        'imagem-apt imagem-apt imagem-apt ';
    }
}
.container-aovivo{
    height: 100%;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'ao-vivo ao-vivo ao-vivo';
    margin-top:  50px;
    margin: 0 auto;
}
#ao-vivo{
    grid-area:ao-vivo;
    height:100%;
    background: #363636;
    align-items: center;
    gap:1rem;
    width: 95%;
    overflow: hidden;
    display: flex;
    color: white;
    justify-content:center;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 10px;
}
.aovivo-img{
    width: 550px;
    height: auto;
}
.aovivo-img img{
    width: 100%;
}
.aovivo-details{
    text-align: center;

}
.aovivo-details h1{
    font-size: 3vw;
}
.aovivo-details a{
    background: red;
    border: 0;
    text-decoration: none;
    padding: .5rem 1rem;
    color: white;
    border-radius: 10px;
}
.aovivo-details a:hover{
    background:#0AB8FD;
    color: #363636;
    transition: .5s;
}
@media(max-width:700px){
    #ao-vivo{
        width: 100%;
    }
    .aovivo-details h1{
        font-size: 3vw;
    }
    .aovivo-details a{
       font-size: 10px;
    }
}
.minuto-video-vivo{
    background: #0AB8FD;
    text-transform: none;
    gap: 2rem;
    font-size: 14px;
}

.playlist-container{
    height: 100%;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'playlist playlist-img playlist-img';
    margin-top:  50px;
    width: 100%;
    overflow: hidden;
}
#playlist{
    grid-area: playlist;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    background: #363636;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
}
.playlist-details{
    align-items: center;
    color: white;
    gap: 2rem;
    margin-bottom: 20px;
}
.play-bottom{
    margin-top: 30px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}
.play-bottom::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #80808052;
    bottom: -10px;
    left: 0;
}
.playlist-details h1{
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.play-bottom a{
    text-decoration: none;
    display:flex;
    align-items: center;
    gap: 1rem;
}
.play-bottom h2{
    color: white;
    font-weight: 100;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
}
.play-bottom p{
    color: #f4f4f4;
}
.play-bottom img{
    width: 150px;
    height: 85px;
    border-radius: 10px;
    border: 1px solid #0AB8FD;
    position: relative;
    background-size: cover;
}
.list{
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0,0.4);
    color: white;
    width: 150px;
    height: 85px;
    border-radius: 10px;
}
#playlist-img{
    grid-area: playlist-img;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    background: #363636;
    padding: 1rem;
    border-radius: 20px;
}
.playimg-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}
.playimg-container img{
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    text-align: left;
}
.playlist-container h1{
    color: white;
    font-weight: 100;
    font-size: 30px;
}
@media(max-width:750px){
    .playlist-container{
        grid-template-areas:
        'playlist playlist playlist'
        'playlist-img playlist-img playlist-img ';
        width: 100%;
    }
    #playlist{
        width: 100%;
    }
    .play-bottom img{
        width: 125px;
        height: 65px;
        border-radius: 10px;
        border: 1px solid #0AB8FD;
        position: relative;
        background-size: cover;
    }
    .playimg-container img{
        width: 100%;
    }
    #playlist-img{
        grid-area: playlist-img;
        align-items: center;
        text-align: left;
        width: 100%;
        height: 100%;
        display: flex;
        background: #363636;
        padding: 1rem;
        border-radius: 20px;
    }
    .list{
        position: absolute;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(0,0,0,0.4);
        color: white;
        width: 125px;
        height: 65px;
        border-radius: 10px;
    }
    .play-bottom::after{
        content: " ";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #80808052;
        bottom: -10px;
        left: 0;
        overflow: hidden;
    }
}

.conta{
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(89deg, black 50%, gainsboro, #0AB8FD);
    width: 100%;
    height: 100%;
    background-size: 500% 500%;
    animation: colors 10s ease infinite;
    flex-direction: column;
    position: fixed;
    margin: 0 auto;
    bottom: 0%;
    top:0%;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
}
@keyframes colors{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50% ;
    }
    100%{
        background-position:0% 50%;
    }
}
.conta-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 90%;
    padding: 1rem;
    margin: 80px auto;
    gap: 1.7rem;
    background: gainsboro;
    border-radius: 20px;
    text-align: left;
    margin-top:70px;
    height: 100%;
    overflow:hidden;
    overflow: auto;
}
form.form-flex{
   width: 50%;
   flex-direction: column;
   display: flex;
   gap: 1rem;
}
#email{
    width: 100%;
    height: 40px;
    text-indent: 20px;
    border: 1px solid #0AB8FD;
    border-radius: 10px;
    font-size: 17px;
    text-transform: none;
}
#senha{
    text-transform: none;
    width: 100%;
    height: 40px;
    text-indent: 20px;
    border: 1px solid #0AB8FD;
    border-radius: 10px;
    font-size: 17px;
}
#entrar{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 17px;
    background: #0AB8FD;
}
.esq-senha{
    text-align: right;
    background: transparent;
    border: 0;
    text-decoration: underline;
    margin-top: -15px;
    width: 50%;
    display: flex;
}
.entrar-flex{
    width: 50%;
    flex-direction: column;
    display: flex;
    gap: 1rem;
}
.tenho-conta{
    width: 60%;
    height: 40px;
    background: linear-gradient(  gainsboro 50%,  white 50%);
    border: 1px solid #0AB8FD;
    border-radius: 10px;
    font-size: 15px;
}
.entrar-flex img{
    width: 20px;
    align-items: center;
}
.entrar-flex button{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.entrar-flex h1{
    font-weight: 100;
    text-decoration: underline;
}
.entrar-flex button:nth-last-child(2){
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 17px;
    background: brown;
    color: white;
}
.entrar-flex button:nth-last-child(1){
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 17px;
    background: blue;
    color: white;
}
@media(max-width:900px){
    form.form-flex{
        width: 100%;
    }
    .esq-senha{
        width: 100%;
    }
    .entrar-flex{
        width: 100%;
    }
    .entrar-flex h1{
        font-weight: 100;
        text-decoration: underline;
        text-align: center;
    }
}
#fechar-aba{
    width: 50%;
    text-transform: uppercase;
    height: 40PX;
    background: transparent;
    border-radius: 20px;
}
.scroll button{
    position: fixed;
    bottom: 20px;
    color:white;
    font-size: 20px;
    right: 40px;
    padding: .2rem .7rem;
    rotate:90deg;
    border-radius: 50%;
    background: rgb(0,0,0,0.3);
    border: 1px solid #0AB8FD;
}
.scroll .fa-solid{
    animation: solid 1s infinite;
}
@keyframes solid{
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    70%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
    }
}